stats:
  repository: redis-hash
  redis:
    host: localhost
    port: 6379
    password: chess_challenge
spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: chess_challenge
    password: chess_challenge
    initialize: false
    hikari:
      auto-commit: true
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        hbm2ddl:
          auto: none
    hibernate:
      ddl-auto: none
  sql:
    init:
      continue-on-error: true